<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="portfolio">
  <div class="w-100">
    <h2 class="mb-5">Portfolio</h2>

    <div *ngFor="let portfolio of portfolios" class="portfolio-div ih-item square effect13 top_to_bottom">
      <a href="">
        <div class="portfolio-img">
          <img class="img-responsive" src="assets/img/{{portfolio.imgUrl}}" alt="{{portfolio.corp}}" title="{{portfolio.projectTitle}}" />
        </div>

        <div class="info">
          <h3>보기</h3>
          <p>클릭</p>
        </div>
      </a>

      <div>
        {{portfolio.skill}}
      </div>

      <i class="fab fa-java" ><p class="icon_info">Java</p></i>&nbsp;
      <i class="fab fa-square" ><p class="icon_info">Javascript</p></i>&nbsp;
      <i class="fab fa-js-stripe-s" ><p class="icon_info">Spring</p></i>&nbsp;
    </div>





  </div>
</section>

<hr class="m-0">
